@import "~antd/dist/antd.css";
#carousel {
  min-width: 100vw;
  object-fit: cover;
  padding-top: 64px;
}
.sections {
  padding-top: 30px;
  width: 100vw;
}
#projects {
  background-color: #0e304c;
}
