.navbar {
  background: white;
  flex-flow: nowrap;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0;
}
.menu {
  border-bottom: none;
}
.menuItem {
  font-weight: 400;
  color: black;
  font-size: 1.1rem;
}
