.servicesHeading {
  font-size: 30px;
  font-weight: 500;
}
.servicesSubheading {
  font-size: 18px;
  font-weight: 300;
  color: #a9a9a9;
  text-align: center;
  padding: 0 20px;
}
.cardSection {
  padding: 0 10vw;
}
.cardRow {
  height: 100%;
}
.cardImage {
  padding: 10px;
}
.images {
  min-width: 50px;
  max-width: 150px;
  height: auto;
}
.cardContent {
  padding: 20px;
  flex-direction: column;
  text-align: center;
}
.cardContentTitle {
  font-size: 18px;
  font-weight: 500;
}

.cardContentDescription {
  font-weight: 300;
  color: #a9a9a9;
}
